$color-error: red;
$color-body: white;
$color-grey: #bfbfbf;
$color-hover: slateblue;
$color-primary: #2d805b;
$color-primary2: lighten($color-primary, 12%);
$color-secondary: #0d1117;
$color-secondary2: lighten($color-secondary, 20%);
